@import './header';
@import './project';
@import './web';

//colors
$primary-color: #F3737B;
$secondary-color: #aa92a8;
$white: #FFFFFF;
$black: #000000;

html {
    font-size: 62.5%;
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
}
:root {scroll-behavior: smooth;}

/* pointer*/
@media (min-width: 812px){
    .cursor{
        width: 10px;
        height: 10px;
        border: 2px solid #F3737B;
        background: #F3737B;
        border-radius: 50%;
        position: absolute;
        transition-duration: 100ms;
        z-index: 100;
    }
}

/* global*/
h1{
    color: #F3737B;
    font-size: 4rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 550;
}

h2{
    color: #80647D;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 550;
}

h3{
    color: #000000;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 550;
}

h4{
    color: #000000;
    font-size: 1.2rem;
    font-family: 'Roboto Slab', serif;
}
p{
    color: #000000;
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}

.btn{
text-decoration: none;
font-size: 2rem;
font-family: 'Roboto Slab', serif;
font-weight: 550;
color: $secondary-color;
&:hover {
    letter-spacing: 3px;
    transition: 0.8s ease-in-out;
}

}


html {
    font-size: 62.5%; // 10px
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
    
    @media only screen and (max-width: 62.5em) { // tab-land
        font-size: 56.25%;
    }
    
    @media only screen and (max-width: 56.25em) { // tab-port
        font-size: 54%; 
    }

    @media only screen and (max-width: 37.5em) { // phone
        font-size: 51%; 
    }
    
    @media only screen and (min-width: 112.5em) { // big desktop
        font-size: 75%; // 1rem = 12px, 12/16 = 75
    }
    
}

body {

    font-size: 1.6rem;
    background-color: $white;
    overflow-x: hidden;
    cursor: none;
    position: relative;
    width: 100%;
    height: 100%;

    @media only screen and (min-width: 20em) { 
        //overflow-x: scroll;
    }
}


main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(min-content, 10rem)) 1fr;
}

.noScroll {
    overflow-y: hidden;
}

.smooth-scroll-wrapper {
    position: relative;
    width: 100vw;
    scroll-behavior: smooth;
}



section {
    transition: transform 0.25s;
    will-change: transform;
}

